
/* /////////////////////////////////////// */
/* to do

- Style links
- Create Navigation
- Style Navigation
- Add homepage content
- Fix homepage styling on mobile
- Add button hover
- 




*/
/* /////////////////////////////////////// */



:root{
  --page-background: #fafafa;
  --text-primary: #000000;
  --text-secondary: #404040;
  --link-color: #0040DD;
  --border-light: #EDEDED;
  --white: #ffffff;

  --dribbble-pink:#EA4C89;
  --strava-orange: #FC5200;
  --linkedin-blue: #0077B5;


  --accent-background: #E9E9E9;

  
  
}


.navigation {
  display: flex;
  max-width: 100%;
}

.navigation-logo {
  margin-right: auto;
}

.navigation button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 350;
  color: var(--text-secondary);
  text-decoration: none;
  background-color: var(--white);
  border-color: var(--border-light);
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1rem;

}


main {
  margin: auto;
  padding: 1rem;
  width: 796px;
  max-width: calc(100% - 2rem);
  line-height: 1.6;

}

hr {
  height: 1px;
  color: var(--border-light);
  background: var(--border-light);
  font-size: 0;
  border: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 350;
  color: var(--text-secondary);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

.body a{
  color: var(--link-color);
}

.title-small {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.body-small {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  color: var(--text-secondary);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.dribbble-link{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  color: var(--dribbble-pink);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.strava-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  color: var(--strava-orange);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.linkedin-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  color: var(--linkedin-blue);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.instagram-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

  background-image: var(--accent-gradient);
 
  -webkit-text-fill-color: transparent;
  background-size: 120%;
  background-position: 0%;
}

.page-header{
  margin-top: 3rem;
}






.project-image {
  height: 370px;
  background-color: var(--accent-background);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.project-details {
  display: flex;
  margin-top: 1.5rem;
}

.button-medium {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 350;
  color: var(--text-secondary);
  text-decoration: none;
  background-color: var(--white);
  border-color: var(--border-light);
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1rem;
}





.details-text {
  margin-right: auto;
}

.tag {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 350;
  color: var(--text-secondary);
  text-decoration: none;
  background-color: var(--white);
  border-color: var(--border-light);
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  padding: 1rem 1rem;
}

.block-header {
  display: flex;
}
.block-title {
  margin-right: auto;
}


















/* /////////////////////////////////////// */
/* Old styles */
/* /////////////////////////////////////// */

.hero{
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  border-color: var(--border-light);
  height: 16rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.hero-body {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  font-weight: 350;
  text-decoration: none;
  color: var(--text-secondary);

}

.hero-h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-primary);
  line-height: 3rem;
}


/* /////////////////////////////////////// */
/* Type styles */
/* /////////////////////////////////////// */

.h1{
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 48px;
  font-weight: 800;
}

.h4{
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.text-link{
  text-decoration: none;
  color: var(--link-color);
}
.text-link:hover{
  text-decoration: underline;
}











.social-link{
    padding: 0.5rem 1rem;
    color: var(--text-primary);
    background-color: var(--accent-background);
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-light);
    border-width: 1px;
}



.footer{
margin-bottom: 3rem;
}

.footer-link-block{
  margin-right: 1rem;
}

.footer-link-blocks {
  display: flex;
  gap: 1rem;
}

.lower-footer {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;


}
.navigation-dropdown {
  position: absolute;
  
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 1rem;
  width: 796px;
  max-width: calc(100% - 3rem);
  border-color: var(--border-light);
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;

}


















	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.text-gradient {
		background-image: var(--accent-gradient);

		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}


	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.text-gradient {
		background-image: var(--accent-gradient);

		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
