---
import Social from './social.astro'
import signature from './public/signature.svg'

---

<footer class="footer">

    <div class="footer-link-blocks">
        <div class="footer-link-block">
            <p class="title-footer">Information</p>
            <div>
                <div><a href="" class="body-small">Projects</a></div>
                <div><a href="" class="body-small">Photos</a></div>
                <div><a href="" class="body-small">Contact</a></div>
                <div><a href="" class="body-small">About</a></div>
            </div>
        </div> 
        <div class="footer-link-block">
            <p class="title-footer">Social</p>
            <div>
                 <div><a href="" class="instagram-link">Instagram</a></div>
                 <div><a href="" class="linkedin-link">Linkedin</a></div>
                 <div><a href="" class="strava-link">Strava</a></div>
                 <div></div><a href="" class="dribbble-link">Dribbble</a></div>
        </div>
    </div>
  

    <hr>

    <div class="lower-footer">
        <p class="body-small">Made with love by</p>
        <img
        src="signature.svg"
        alt="test"
        height="100"
        width="100"
        />
    </div>

</footer>