---
import { Astronav, MenuItems, MenuIcon, OpenIcon, CloseIcon } from "astro-navbar";
---

<div>
  <Astronav>
    <div class="navigation">
      <a class="navigation-logo">My Logo</a>
      <MenuIcon>
        <OpenIcon>Menu</OpenIcon>
        <CloseIcon>Close</CloseIcon>
      </MenuIcon>
    </div>
    <MenuItems class="hidden">
        <div class="navigation-dropdown"> <ul>
            <div class="footer-link-blocks">
                <div class="footer-link-block">
                    <p class="title-footer">Information</p>
                    <div>
                        <div><a href="/projects" class="body-small">Projects</a></div>
                        <div><a href="/photos" class="body-small">Photos</a></div>
                        <div><a href="/contact" class="body-small">Contact</a></div>
                        <div><a href="/about" class="body-small">About</a></div>
                    </div>
                </div> 
                <div class="footer-link-block">
                    <p class="title-footer">Social</p>
                    <div>
                      <div><a href="https://www.instagram.com/jamesmolyneuxbirch/" class="instagram-link">Instagram</a></div>
                      <div><a href="https://www.linkedin.com/in/james-molyneux-birch-68549b1a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="linkedin-link">Linkedin</a></div>
                      <div><a href="https://strava.app.link/8Md6OT6yINb" class="strava-link">Strava</a></div>
                      <div></div><a href="https://dribbble.com/jamesmolyneuxbirch/shots" class="dribbble-link">Dribbble</a></div>
                </div>
            </div>
        </div>
     
    </MenuItems>
  </Astronav>
</div>