---

---


<div class="hero">
    <div>
    <p class="hero-body">✌️Hey, I’m James, a designer and aspiring developer helping...</p>
    <h1 class="hero-h1">design and develop interfaces.</h1>
    </div>  
</div>