---

---


<div class="hero">
    <div>
    <p class="hero-body">Hey, I’m James. I’m a designer and aspiring developer. I’m currently working at <a href="https://www.pavers.co.uk/" class="text-link">Pavers</a> working on a range of internal tools and customer facing brand sites.</p>
    <h1 class="hero-h1">This is some h1</h1>
    </div>  
</div>