---



---



<div class="project-card">
    <div class="card-info">
        <h4 class="h4">This is some h4</h4>
        <p class="body">This is some paragraph</p>
    </div>
    <div class="big-icon">X</div>
</div>